#bg{
    -fx-background-image: url("img/bg.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#logo{
    -fx-background-image: url("img/logo.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#lente{
    -fx-background-image: url("img/lente.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


.imgutente{
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-radius: 50;
}

.eventlist{
    -fx-border-width: 0;
    -fx-radius: 20;
    -fx-background-color: #cbcacf;
    -fx-background-radius: 12px;
}


.title {
    -fx-background-color: #77188c;
    -fx-background-radius: 8px;
    -fx-font-size: 23px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "copperplate";
    -fx-opacity: 0.4;
}

.red-button-rounded {
    -fx-background-color: #ff2525;
    -fx-background-radius: 30px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-line-height: 18px;
    -fx-letter-spacing: -0.01px;

}


.navBarButton{
    -fx-background-color: rgba(255,255,255,0.0);
    -fx-background-radius: 30px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-line-height: 18px;
    -fx-letter-spacing: -0.01px;
}

.itemButton{
    -fx-background-color: rgba(255,255,255,0.0);
    -fx-background-radius: 30px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-line-height: 18px;
    -fx-letter-spacing: -0.01px;
}
.text-area {
    -fx-background-radius: 28;
    -fx-border-radius: 28;
    -fx-background-color: white;
    -fx-wrap-text: true;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
